<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="ControleFinanceiro.Properties.Settings.Controle_de_GastosConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\d_per\Dropbox\David\Controle Financeiro\Controle de Gastos.accdb&quot;" providerName="System.Data.OleDb" />
    <add name="ControleFinanceiro.Properties.Settings.Local" connectionString="Data Source=DESK-INSPIRON-D\DAVID;Initial Catalog=Local;Persist Security Info=True;User ID=david;Password=Alucard@123" providerName="System.Data.SqlClient" />
    <add name="ControleFinanceiroContext" connectionString="data source=DESK-INSPIRON-D\DAVID;initial catalog=Local;persist security info=True;user id=david;password=Alucard@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FinanceModel" connectionString="data source=184.168.194.78;initial catalog=devgenius_finance;persist security info=True;user id=devgeniusadm;password=DevGenius@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>